body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:680px){

	body{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#chat-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user, .bot {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.user {
    background-color: #f0f0f0;
    text-align: right;
}

.bot {
    background-color: #007bff;
    color: white;
    text-align: left;
}

#user-input {
    margin-top: 10px;
}

#message {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
