
/* General **/

link:"boo"

ul,ol,li{
  list-style: none;
}

span {
    color: #f96f59;
    font-size: 40px;
}

h1,h2,h3,h4,h5,h6{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Arial';
    color: black;
}

#footerlink a{
    color: rgb(233,178,50);
}

#footerlink a:hover{
    color: yellow;
}


/* Body **/

#header{
    display: flex;
    background-color: rgb(41,160,220);
    padding-left: 80px;
    height: 70px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

body h3,h5{
    color: black;
}

/* --Navbar */
.navbar {
    background-color: rgb(41, 160, 220);
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* --Hero */
.hero {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
}

/* --Button */
.fb {
    display: inline-block;
    padding: 10px 20px;
    background-color: royalblue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.yt {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.bg {
        display: inline-block;
        padding: 10px 20px;
        background-color: orangered;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
}

.gh{
        display: inline-block;
        padding: 10px 20px;
        background-color: black;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
}

/* --Section */

.about{
    display: flex;
    flex-direction: column;
}

.study{
    display: flex;
    flex-direction: column;
}

.achievement{
    display: flex;
    flex-direction: column;
}

.skills{
    display: flex;
    flex-direction: column;
}

.project{
    display: flex;
    flex-direction: column;
}

/* Footer **/

footer{
    display: flex;
    flex-direction: column;
    background-color: #334;
}

footer span{
    font-size: 15px;
}

#bottom{
    background-color: rgb(41,160,220);
    padding: 4px;
    text-align: center;
}

/* Misc **/
