div .color-html {
  background: #e54d26;
}
div .color-css {
  background:#3d8fc6;
}
div .color-js {
 background: #f0bb1f;
}
div .color-ts {
  background: #007acc;
}
div .color-node {
  background: #5fb950;
}
div .color-erlang {
  background: #a90533;
}
div .color-deno {
  background: #000;
}
div .color-express {
  background: #444;
}
div .color-vue {
 background: #A4C439;
}
div .color-vg{
  background: #127eff;
}
div .color-bs {
 background: #6610f2;
}
div .color-py {
 background: #0769ad;
}
div .color-go {
 background: #1EBBEE;
}
div .color-laravel {
 background: #fd4f31;
}
div .color-php {
 background: #6181b6;
}
div .color-dart {
 background: #333333;
}
div .color-perl {
 background: #1ACCda;
}
div .color-ruby {
 background: #fd4f31;
}
div .color-mysql {
 background: #00618a;
}
div .color-sqlite {
 background: #0f80cc;
}
div .color-rabbit {
 background: #f60;
}
div .color-vitest {
 background: #fcc72b;
}
div .color-apache {
  background: #cb2533;
}
div .color-tux {
  background:#000;
}